<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{> page/title}}</title>
    <link rel="stylesheet" href="{{stycss}}">
    <link rel="stylesheet" href="{{scrcss}}">
</head>
<body>
    {{!-- {{> page/test}} --}}
    {{!-- <p>{{yell message}}</p> --}}

    <div id="{{appId}}"></div>
    <script src="{{sdkjs}}"></script>
    <script src="{{scrjs}}"></script> 
</body>
