<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{> page/title}}</title>
    <link rel="stylesheet" href="{{stycss}}">
    <link rel="stylesheet" href="{{scrcss}}">
</head>
<body>
    <div id="{{appId}}"></div>
    <script src="{{sdkjs}}"></script>
    <script src="{{scrjs}}"></script>
</body>
